@using Smile;
@model IEnumerable<ReadMe.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{


}

@*<h2>Tu będą wyniki</h2>*@
<h2>Wyniki:</h2>
<form action="/BayesianNetwork/RenderForm" method="post">
    <select id="drpType" name="userMood">
        <option value="dobry">Dobry</option>
        <option value="zly">Zły</option>
    </select>
    @*<input type="text" name="userMood" placeholder="Nastrój" />*@

    <input type="text" name="bookType1" placeholder="Pierwszy rodzaj książki" />
    <input type="text" name="bookType2" placeholder="Drugi rodzaj książki" />
    <input type="submit" id="btn" value="Submit" />
</form>


<h3>P(Nastroj = @ViewBag.UserMood | JakaKsiazka1 = @ViewBag.BookType1 && JakaKsiazka2 = @ViewBag.BookType2) = @ViewBag.MaxNumber</h3>
<h3>Najbardziej prawdopodobna kategoria książek: @ViewBag.ChosenBookCategory</h3>


@if (@ViewBag.ChosenBookCategory == "luz_wciag")
{
    <h4>Niestety w tej kategorii nie mamy żadnych propozycji</h4>
}
