@using Smile;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    

}

<h2>Tu będą wyniki</h2>
<form action="/BayesianNetwork/RenderForm" method="post">
        <input type="text" name="jakiNastroj" />
        <input type="submit" value="Submit" />
    </form>

@*<table>
    <thead>
        <tr>
            <th>Node Id</th>
           <th>@ViewBag.Net[handle]</th>
            <th>Node Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (int handle in @ViewBag.Net)
        {
            <tr>
                <td>@handle</td>
                <td>@ViewBag.Net[handle]</td>
                <td>@ViewBag.Net.GetNodeName(handle)</td>
            </tr>
        }
    </tbody>
</table>*@

<h3>P(Nastroj = dobry | JakaKsiazka = wciagajaca) = @ViewBag.chosenBook</h3>
  