@using Smile;
@model IEnumerable<ReadMe.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pomożemy Ci wybrać najbardziej odpowiednią książkę!</h2>
@*<h3>Musisz nam odrobinę pomóc odpowiadając na dwa proste pytania!</h3>*@
<form action="/FindBook/RenderForm" method="post">

    <div class="form-group">
        <h4>W jakim jesteś teraz nastroju?</h4>

        <select class="form-control" id="userInputWhichBook" name="userMood" required>
            <option value=""></option>
            <option value="dobry">Czuję się fantastycznie!</option>
            <option value="dobry">Czuję się dobrze.</option>
            @*<option value="dobry">Mam dziś świetny humor!</option>*@
            @*<option value="zly">Nie czuję się dziś najlepiej.</option>*@
            <option value="zly">Mogłoby być lepiej...</option>
            <option value="zly">Jestem przygnębiony.</option>
            <option value="zly">To nie jest mój dzień...</option>
        </select>
    </div>

    <div class="form-group">
        <h4>Jaka ma być książka po którą chcesz dzisiaj sięgnąć?</h4>
        <select class="form-control" id="userInputWhichBook" name="bookType1" required>
            <option value=""></option>
            <option value="pozytywna">Pozytywna</option>
            <option value="luzna">Luźna propozycja</option>
            <option value="wciagajaca">Wciągająca</option>
            <option value="refleksyjna">Refleksyjna</option>
            <option value="wyciskacz_lez">Wyciskacz łez</option>
            <option value="wywolujaca_dreszczyk_emocji">Wywołująca dreszczyk emocji</option>
        </select>
    </div>

    <div class="form-group">
        <select class="form-control" id="userInputWhichBook" name="bookType2" required>
            <option value=""></option>
            <option value="pozytywna">Pozytywna</option>
            <option value="luzna">Luźna propozycja</option>
            <option value="wciagajaca">Wciągająca</option>
            <option value="refleksyjna">Refleksyjna</option>
            <option value="wyciskacz_lez">Wyciskacz łez</option>
            <option value="wywolujaca_dreszczyk_emocji">Wywołująca dreszczyk emocji</option>
        </select>
    </div>

    <input class="btn btn-primary btn-large"  type="submit" id="btn" value="Wyszukaj książkę" />
</form>


@*<h3>P(Nastroj = @ViewBag.UserMood | JakaKsiazka1 = @ViewBag.BookType1 && JakaKsiazka2 = @ViewBag.BookType2) = @ViewBag.MaxNumber</h3>
    <h3>Najbardziej prawdopodobna kategoria książek: @ViewBag.ChosenBookCategory</h3>*@
