@using Smile;
@model IEnumerable<ReadMe.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span.arrow {
        transform: rotate(90deg);
        display: inline-block;
        font-size: 40px;
    }

    .form_field {
        margin: 0 auto;
    }

    .big-field {
        text-align: center;
        margin: 0 auto;
    }

    .in-find-book {
        /*margin-top: 10px;*/
        /*max-width: 1160px;*/
        /*border: 3px solid red;*/
        padding-top: 20px;
        /*margin-left: -10px;*/
        padding-bottom: 25px;
        margin: 0 auto;
    }

        .in-find-book h3 {
            font-size: 32px;
            text-align: center;
            padding-bottom: 15px;
            color: white;
            font-weight: bold;
        }

    .button {
        border: 1px solid white;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        width: 160px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: beige;
        color: brown;
    }

        .button:hover {
            opacity: 0.6;
            color: beige;
            background-color: brown;
        }

    .button-group input {
        display: none;
        border: 1px solid white;
    }

    .button-center {
        display: inline-block;
        text-align: center;
    }

    .button-group input:checked + label,
    .button-group input:checked + label:active {
        background-color: brown;
        color: beige;
    }

    h4 {
        font-size: 26px;
        text-align: center;
        font-weight: bold;
        color: white;
        text-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
    }
</style>



<div class="in-find-book">
    @*<h3>Odpowiedz na dwa pytania, aby otrzymać listę propozycji.</h3>*@
    
    <form action="/FindBook/RenderForm" method="post">
        <h4>Jak się teraz czujesz?</h4>
        <div class="container">
            <div class="row">
                <div class="form-group button-group round toggle">
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input type="radio" value="dobry" id="r1" name="userMood">
                        <label class="button" for="r1">Czuję się fantastycznie!</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input type="radio" value="dobry" id="r2" name="userMood">
                        <label class="button" for="r2">Czuję się<br />dobrze!</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input type="radio" value="dobry" id="r3" name="userMood">
                        <label class="button" for="r3">Mam dziś świetny humor!</label>
                    </div>

                    @*<div class="w-100 d-none d-md-block"></div>*@

                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input type="radio" value="zly" id="r4" name="userMood">
                        <label class="button" for="r4">Mogłoby być lepiej...</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input type="radio" value="zly" id="r5" name="userMood">
                        <label class="button" for="r5">Jestem przygnębiony.</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input type="radio" value="zly" id="r6" name="userMood">
                        <label class="button" for="r6">To nie jest mój dzień...</label>
                    </div>
                </div>
            </div>
        </div><br /><br />
        <h4>Po jaką książkę chciałbyś sięgnąć?</h4>
        <div class="container">
            <div class="row">
                <div class="button-group">
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input id="checkbox1" type="checkbox" value="pozytywna" name="bookTypes">
                        <label class="button" for="checkbox1" style="line-height: 280%">Pozytywną</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input id="checkbox2" type="checkbox" value="luzna" name="bookTypes">
                        <label class="button" for="checkbox2" style="line-height: 280%">Luźną</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input id="checkbox3" type="checkbox" value="wciagajaca" name="bookTypes">
                        <label class="button" for="checkbox3" style="line-height: 280%">Wciągającą</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input id="checkbox4" type="checkbox" value="refleksyjna" name="bookTypes">
                        <label class="button" for="checkbox4" style="line-height: 280%">Refleksyjną</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input id="checkbox5" type="checkbox" value="wyciskacz_lez" name="bookTypes">
                        <label class="button" for="checkbox5" style="line-height: 280%">Wyciskacz łez</label>
                    </div>
                    <div class="col-lg-2 col-lg-offset-0 col-md-3 col-md-offset-3 col-sm-4 col-xs-12 button-center">
                        <input id="checkbox6" type="checkbox" value="wywolujaca_dreszczyk_emocji" name="bookTypes">
                        <label class="button" for="checkbox6">Wywołującą dreszczyk emocji</label>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br /><br />
        <div style="text-align: center; padding-top: 10px;">
            <input class="btn btn-primary btn-large" type="submit" id="btn" value="Wyszukaj książkę" />
        </div>

    </form>

</div>




@*<h3>P(Nastroj = @ViewBag.UserMood | JakaKsiazka1 = @ViewBag.BookType1 && JakaKsiazka2 = @ViewBag.BookType2) = @ViewBag.MaxNumber</h3>*@
@*<h3>Najbardziej prawdopodobna kategoria książek: @ViewBag.ChosenBookCategory</h3>*@
