@using Smile;
@model IEnumerable<ReadMe.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span.arrow {
        transform: rotate(90deg);
        display: inline-block;
        font-size: 40px;
    }

    .form_field {
        margin: 0 auto;
    }

    .big-field {
        /*border: 3px solid red;*/
        max-width: 300px;
        text-align: center;
        margin: 0 auto;
    }

    .in-find-book {
        /*margin-top: 10px;*/
        padding-top: 20px;
        padding-bottom: 25px;
    }
    
    /*.button-group input {
        display: none;
    }

    .button-group input:checked + label,
    .button-group input:checked + label:active {
        background-color: salmon;
    }*/
</style>



<div class="jumbotron in-find-book">
    <h3 style="font-size: 32px; text-align: center; padding-bottom: 25px;">Odpowiedz na dwa pytania, aby otrzymać listę propozycji.</h3>
    @*<form action="/FindBook/RenderForm" method="post">
        <div class="form-group big-field">
                <h4>W jakim jesteś teraz nastroju?</h4>
                <select class="form-control form_field" id="userInputWhichBook" name="userMood" required>
                    <option value=""></option>
                    <option value="dobry">Czuję się fantastycznie!</option>
                    <option value="dobry">Czuję się dobrze.</option>
                    <option value="dobry">Mam dziś świetny humor!</option>
                    <option value="zly">Mogłoby być lepiej...</option>
                    <option value="zly">Jestem przygnębiony.</option>
                    <option value="zly">To nie jest mój dzień...</option>
                </select>
            </div>
            <div style="text-align: center;">
                <span class="arrow">&#10159;</span>
            </div>

            <div class="form-group" style="text-align: center">
                <h4>Po jaką książkę chciałbyś sięgnąć?</h4>
                <select class="form-control form_field" id="userInputWhichBook" name="bookType1" required>
                    <option value=""></option>
                    <option value="pozytywna">Pozytywną</option>
                    <option value="luzna">Luźną propozycję</option>
                    <option value="wciagajaca">Wciągającą</option>
                    <option value="refleksyjna">Refleksyjną</option>
                    <option value="wyciskacz_lez">Wyciskacz łez</option>
                    <option value="wywolujaca_dreszczyk_emocji">Wywołującą dreszczyk emocji</option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control form_field" id="userInputWhichBook" name="bookType2" required style="margin: 0 auto; text-align: center;">
                    <option value=""></option>
                    <option value="pozytywna">Pozytywną</option>
                    <option value="luzna">Luźną propozycją</option>
                    <option value="wciagajaca">Wciągającą</option>
                    <option value="refleksyjna">Refleksyjną</option>
                    <option value="wyciskacz_lez">Wyciskacz łez</option>
                    <option value="wywolujaca_dreszczyk_emocji">Wywołującą dreszczyk emocji</option>
                </select>
            </div>

        <div style="text-align: center;">
            <span class="arrow">&#10159;</span>
        </div>

        <div style="text-align: center; padding-top: 10px;">
                <input class="btn btn-primary btn-large" type="submit" id="btn" value="Wyszukaj książkę" />
            </div>
        </form>*@

    <form action="/FindBook/RenderForm" method="post">

        @*<div class="form-group big-field">
            <h4>W jakim jesteś teraz nastroju?</h4>
            <select class="form-control form_field" id="userInputWhichBook" name="userMood" required>
                <option value=""></option>
                <option value="dobry">Czuję się fantastycznie!</option>
                <option value="dobry">Czuję się dobrze.</option>
                <option value="dobry">Mam dziś świetny humor!</option>
                <option value="zly">Mogłoby być lepiej...</option>
                <option value="zly">Jestem przygnębiony.</option>
                <option value="zly">To nie jest mój dzień...</option>
            </select>
        </div>*@


            <div class="button-group round toggle">
                <input type="radio" value="dobry" id="r1" name="userMood">
                <label class="button" for="r1">Czuję się fantastycznie!</label>
                <input type="radio" value="dobry" id="r2" name="userMood">
                <label class="button" for="r2">Czuję się dobrze!</label>
                <input type="radio" value="dobry" id="r3" name="userMood">
                <label class="button" for="r3">Mam dziś świetny humor!</label>
                <input type="radio" value="zly" id="r4" name="userMood">
                <label class="button" for="r4">Mogłoby być lepiej...</label>
                <input type="radio" value="zly" id="r5" name="userMood">
                <label class="button" for="r5">Jestem przygnębiony.</label>
                <input type="radio" value="zly" id="r6" name="userMood">
                <label class="button" for="r6">To nie jest mój dzień...</label>
            </div>
            <div class="button-group">
                <input id="checkbox1" type="checkbox" value="pozytywna" name="bookTypes">
                <label class="button" for="checkbox1">Pozytywną</label>
                <input id="checkbox2" type="checkbox" value="luzna" name="bookTypes">
                <label class="button" for="checkbox2">Luźną</label>
                <input id="checkbox3" type="checkbox" value="wciagajaca" name="bookTypes">
                <label class="button" for="checkbox3">Wciągającą</label>
                <input id="checkbox3" type="checkbox" value="refleksyjna" name="bookTypes">
                <label class="button" for="checkbox3">Refleksyjną</label>
                <input id="checkbox3" type="checkbox" value="wyciskacz_lez" name="bookTypes">
                <label class="button" for="checkbox3">Wyciskacz łez</label>
                <input id="checkbox3" type="checkbox" value="wywolujaca_dreszczyk_emocji" name="bookTypes">
                <label class="button" for="checkbox3">Wywołującą dreszczyk emocji</label>
            </div>

        <div style="text-align: center; padding-top: 10px;">
            <input class="btn btn-primary btn-large" type="submit" id="btn" value="Wyszukaj książkę" />
        </div>       
    </form>



</div>




@*<h3>P(Nastroj = @ViewBag.UserMood | JakaKsiazka1 = @ViewBag.BookType1 && JakaKsiazka2 = @ViewBag.BookType2) = @ViewBag.MaxNumber</h3>*@
    <h3>Najbardziej prawdopodobna kategoria książek: @ViewBag.ChosenBookCategory</h3>
