@model IEnumerable<ReadMe.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proponowane książki</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Gatunek</th>
            <th>Popularność</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Genre.Name</td>
                <td>@book.Popularity</td>
                <td>@Html.ActionLink("text", "IncreasePopularity", "Books", new { id = book.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
