@model IEnumerable<ReadMe.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proponowane książki</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Gatunek</th>
            <th>Popularność</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td style="vertical-align: middle;">@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Genre.Name</td>
                <td>@book.Popularity</td>
                <td><button data-book-id="@book.Id" class="btn btn-primary js-update-popularity">Chcę przeczytać</button></td>
            </tr>
        }
    </tbody>
</table>


<style>
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#books .js-update-popularity").on("click", function () {
                $.ajax({
                    url: '/Books/IncreasePopularity/' + $(this).attr("data-book-id"),
                    method: "POST"
                });
                $(this).prop("disabled", true);
                $(this).css('background', 'green');
            });
        });
    </script>
}