@model IEnumerable<ReadMe.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proponowane książki</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Gatunek</th>
            <th>Popularność</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Genre.Name</td>
                <td>@book.Popularity</td>
                <td><button data-book-id="@book.Id" class="btn-link js-update-popularity">Chcę przeczytać</button></td>
                @*<td>@Html.ActionLink("text", "IncreasePopularity", "Books", new { id = book.Id }, null)</td>*@
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#books .js-update-popularity").on("click", function () {
                if (confirm("Chcesz ją przeczytać?")) {
                    $.ajax({
                        url: '/Books/IncreasePopularity/' + $(this).attr("data-book-id"),
                        //url: "/api/books/" + $(this).attr("data-book-id"),
                        method: "POST",
                        success: function () {
                            console.log("Udało się");
                        }
                    });
                }
            });

        });
    </script>
}